.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  min-width: 32rem;
  border-radius: 6px;
  padding: 2.5rem 3rem;
  background-color: var(--gray-600);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 991px) {
    top: auto;
    bottom: 0;
    left: 0;
    min-width: 100%;
    transform: translate(0, 0);
  };

  

}

.close{
  position: absolute;
  top:0;
  right: 0;
  padding: 1rem;
  border: none;
  background: transparent;
  color: var(--gray-300);
  
}

.btnConfirmar{
  color:var(--gray-100);
  background: var(--blue-dark);
  border-radius: 8px;
  padding: .875rem;
  border: none;
  width: 100%;
}
.btnConfirmar:hover{
  background: var(--blue);
}


.btnCancel{
  color:var(--gray-100);
  background: var(--danger);
  border-radius: 8px;
  padding: .875rem;
  border: none;
  width: 100%;
}
.btnCancel:hover{
  opacity: .7;
}

.text{
  font-size: large;
  color: var(--gray-100)
}

.btnContainer{
  display: flex;
  gap: 1rem;
  width: 100%;
}