
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 736px;
}

@media screen and (max-width:991px){
  .content{
    width: 100%;
    padding: 0 1rem;
  }
}

/*taskList */

.taskList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-500);
  color: var(--gray-100);
  min-height: 4.5rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  margin-bottom: 12px;
  padding: 1rem;
}

.contentTask{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-right: 1rem;
}

.btnTrash{
  background: transparent;
  border: none;
  color: var(--gray-300);
}

.btnTrash:hover{
  background: transparent;
  color: var(--danger);

}

.btnCheck{
  background: transparent;
  border: none;
  
}

.btnNotCompleted {
  color: var(--blue)
}

.btnNotCompleted :hover{
  color: var(--blue-dark);
  fill:var(--blue);
  fill-opacity: 50%;
}

.btnCompleted{
  color: var(--gray-500);
  fill:var(--purple-dark);
}

.btnCompleted :hover{
  color: var(--purple-dark);
  fill-opacity: 50%;
}

.taskCompleted{
  color: var(--gray-300);
  text-decoration: line-through;
  overflow-wrap: anywhere;
} 
.taksP{
  overflow-wrap: anywhere;
  line-height: 1.5;
}

